*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
nav{
    background-color: Black;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}#main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button{
    height: 100px;
    width: 100px;
    margin-top: 200px;   
}